/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset.css end*/

/* App style start */

.app{
	margin: 0 auto;
    margin-top: 30px;
	width: 1700px;
	height: 900px;
    background-color: brown;
}

/* App style end */

/* Screen style start */

.screen{
    width: 100%;
    height: 450px;
    background: linear-gradient(to bottom, #33ccff 0%, #ffffff 150%);
    overflow: hidden;
}

.buffer {
    position: relative;
    width: 100%;
    height: 80px;
    border-top: 4px dashed black;
    border-bottom: 4px dashed black;
}

.height{
    position: absolute;
    bottom: 0;
    font-size: 30px;
    
}

.left-plane-zone{
    position: relative;
    width: 100%;
    height: 185px;
    opacity: 1;

}

.left-plane{
    position: absolute;
    z-index: 100;
}

.right-plane-zone{
    position: relative;
    width: 100%;
    height: 185px;
    opacity: 1;

}

.right-plane{
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Screen style end */


/* Control style start */

.control{
    display:flex;
    width: 100%;
    height: 450px;
	background-color:black;
}

.horizont {
    position: relative;
    display: inline-block;
    width: 426px;
    height:100%;
    background-image: url(../images/horizont-outside.png);
}

.horizont-height-settings{
    display: inline-block;
    position: relative;
    top: 130px;
    left: 305px;
    color: rgb(96, 189, 218);
}

.horizont-height-current{
    display: inline-block;
    position: relative;
    top: 240px;
    left: 260px;
    color: rgb(101, 255, 109);
}

.outside-horizont{
    position: absolute;
    top: 117px;
    left: 90px;
}

.tcas-panel{
    position: absolute;
    top: 60px;
    right: 90px;
}
/* Height and speed setting start */

.height-controler {
    display: inline-block;
    position: relative;
    width: 465px;
    height:100%;
    background-image: url(../images/height-outside-full-x2_clear.png);
}

.circles{
    display: flex;
    width: 300px;
    position:absolute;
    top: 245px;
    left: 99px;
    justify-content: space-between;
}

.circle-height{
    display: flex;
    margin-right: 111px;
    cursor: pointer;
}

.circle-speed{
    display: flex;
    cursor: pointer;
}

.height-table {
    width: 150px;
    height:34px;
    display: flex;
    position: absolute;
    top: 162px;
    left: 100px;
}

#heightRight{
    display: none;
}

#heightLeft{
    display: none;
}


.speed-table{
    width: 150px;
    height:34px;
    display: flex;
    position: absolute;
    top: 162px;
    left: 250px;
}

#speedRight{
    display: none;
}

#speedLeft{
    display: none;
}

.height-table-item{
    height: 100%;
    width: 25px;
}

.speed-table-item{
    height: 100%;
    width: 25px;
}

/* Height and speed setting end */



/* 
.circle-height{
    position:absolute;

} */

.tcas{
    display: inline-block;
    height: 100%
}


.start{
    display: block;
    position: relative;
    flex-grow: 1;
    font-size: 20px;
    color: white;
    margin: 0 auto;
}

.play-button{
    display: none;
    position: absolute;
    top: 165px;
    right: 90px;
    width: 50px;
    height: 50px;
    

}

.select-plane{
    margin: 20px auto 30px auto;
    width: 300px;
    font-size: 35px;

}

#planeChoice1 {
    transform:scale(1.6);
    opacity:0.9;
    cursor:pointer;
}

#planeChoice2 {
    transform:scale(1.6);
    opacity:0.9;
    cursor:pointer;
}

.height-setter{
    margin-left: 20px;
    margin-bottom: 70px;
    color: white;
    font-size: 35px;
}

#height-form > p {
    margin-bottom: 10px;
}

.height-level {

    width:  200px;
    height: 20px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:30px;
}


.start-buttons-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.start-button{
    width: 100%;
    font-size: 30px;
    cursor:pointer;
}

/* #restart-button{
    display: none;
} */

.logo{
    padding-left: 353px;
    

}
/* Control style end */
